/* Secure Password Website*/
/* Author: Abi Matthews-Gordon */

/* --------------------------------- */
/*          1. General */
/* --------------------------------- */
:root {
    --text-black: #040316;
    --text-white: #f1f1f1;
    --background: #fbfbfe;
    --primary: #139090;
    --secondary: #ae1acb;
    --secondary-60: #ce76e0;
    --accent: #bb72ca;
    --accent-80: #a09ec1;
    --accent-40: #2d7b91;
    --accent-25: #f7f2f9;
    --error: #E63329;

    --black-25: #cccdcd;

    --primary-20: #b2d5d6;
    --form-bg: #CDE6E8;

    /* --input-field-bg: #cad5e3; */
    --input-field-bg: #f9f1fa;
    --vertical-line: #ddb8e4;
}


html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: #000;
}

body.full-page {
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 100%;
    overflow: hidden;

    .main {
        /* overflow: scroll; */
        height: 100%;
        flex-grow: 1;
    }
}

.pink-text {
    color: var(--accent);
}

.green-text {
    color: var(--primary);
}

.btn-green {
    background-color: var(--primary);
    color: var(--text-black);
    border-radius: 8px !important;

    &:hover {
        background-color: var(--primary);
        color: var(--text-black);
    }
}

.btn-green-border {
    border: 2px solid var(--primary);
    border-radius: 8px;

    &:hover {
        border-color: var(--primary);
    }
}

.form-vault {
    background-color: var(--form-bg);
    padding: 43px 37px;
}

label.form-label {
    color: var(--text-black);
}

input.form-control,
select,
input-group.form-control {
    background-color: var(--input-field-bg);
    width: 343px;
    height: 45px;
    border: none;
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-black);
    font-weight: bold;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    line-height: 1.78;
    color: var(--text-black);
}

span {
    color: var(--text-black);
}

/* --------------------------------- */
/*           1. REGISTRATION PAGE */
/* --------------------------------- */
.registration-page {

    .auth-form-container {
        background: var(--form-bg);
        /* position: relative; */
        border: none;

        h3 {
            margin-bottom: 41px;
        }

        [type=submit] {
            border: none;
            width: 343px;
            height: 45px;
        }
    }
}

.register-check:checked {
    background-color: var(--input-field-bg);
    border: none;
}

/* --------------------------------- */
/*           2. VAULT  */
/* --------------------------------- */
/* create, edit & delete item */
.vault {

    .warning-container {
        background-color: var(--form-bg);
        border: none;
        padding: 22px 60px;

        .delete-container {
            margin-bottom: 20px;

            i {
                font-size: 50px;
                color: var(--accent);
            }
        }
    }

    .buttons-container {
        background-color: var(--primary-20);
        padding: 12px 29px;
        display: flex;

        div:first-child {
            margin-right: 20px;

            [type=button] {
                padding: 10px 32px;
            }
        }

        div:last-child {

            [type=button] {
                padding: 9px 32px;
            }
        }
    }

    .title-container {
        background-color: var(--primary-20);
        padding: 20px 230px;
    }

    .form-vault {

        .input-group-text {
            background-color: #bdc6d1;
        }

        textarea.form-control {
            background-color: var(--input-field-bg);
        }
    }

    .vault-btn-container {
        background-color: var(--primary-20);
        padding: 12px 69px 12px 48px;
        display: flex;

        .generate,
        .save {
            margin-right: 17px;
        }

        [type=button] {
            padding: 15px 40px;
        }

        .buttons {
            display: flex;
        }

        .icons {
            display: flex;
            font-size: 20px;

            >div:first-child {
                a {
                    color: var(--primary);
                    margin-right: 18px;
                }
            }

            >div:last-child {
                a {
                    color: var(--error);
                }
            }

            &.create {
                color: var(--primary);
            }
        }
    }
}

.title-container {
    margin-bottom: 57px;
}

.all-vaults {
    padding-top: 50px;
    padding-left: 60px;

    .title-container {
        display: flex;
        /* margin-bottom: 57px; */

        >div:last-child {
            a {
                background-color: var(--secondary-60);
                border-radius: 8px;
                border: none;
                padding: 15px 30px;
            }
        }
    }

    .filters {
        border-right: 2px solid var(--vertical-line);
        margin-right: 15px;

        .search-container {
            margin-bottom: 45px;

            >input {
                height: 53px;
                border-radius: 8px;
                background-color: var(--accent-25);

                &.form-control {
                    width: 235px;
                }
            }
        }

        .filter-container {
            display: flex;

            i {
                color: var(--accent);
                margin-right: 5px;
            }

            h6 {
                line-height: 1.5;
            }

            &.filter-item {
                margin-bottom: 49px;
            }
        }
    }

    .title {
        padding-bottom: 5px;
        border-bottom: 1px solid var(--accent);
        margin-bottom: 15px;

        >:first-child {
            i {
                margin-right: 5px;
            }
        }
    }

    .vault-list {
        margin-bottom: 20px;

        >div:first-child {
            input {
                border-color: var(--black-25);
            }
        }
    }
}

.tools {
    padding-top: 50px;
    padding-left: 60px;

    .password-reveal-container {
        background-color: var(--input-field-bg);
        border-radius: 8px;
        padding: 54px;
        display: flex;
        margin-bottom: 40px;

        a {
            i {
                color: var(--black-25);
            }
        }

        span {}
    }

    .password-check-container {
        margin-bottom: 48px;

        .checks {
            display: flex;

            >div:first-child {
                margin-right: 30px;
            }
        }
    }

    .password-length-container {
        margin-bottom: 48px;

        .item {

            select {
                width: 260px;
            }
        }
    }

    .options {
        margin-bottom: 48px;
    }

    .btn-container {
        display: flex;

        >div:first-child {
            margin-right: 30px;

            [type=button] {
                padding: 10px 32px;
            }
        }

        >div:last-child {

            [type=button] {
                padding: 9px 37px;
            }
        }
    }
}

/* --------------------------------- */
/*           3. PROFILE PAGE */
/* --------------------------------- */
/* sidebar */
.sidebar {
    height: 100%;
    width: 294px;
    background-color: var(--primary);
    flex-grow: 0;

    .header {
        display: inline-block;
        margin-bottom: 58px;
        padding: 23px;
        background-color: #5daab1;

        .header-container {

            .image-container {
                margin-right: 12px;

                img {
                    width: 50px;
                    height: 50px;
                    background-color: var(--black-25);
                    border-radius: 50%;
                }
            }

            h4 {
                color: var(--text-white);
            }
        }
    }

    .lists-container {

        .links-container {

            li {
                list-style: none;

                .link {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    padding: 12px 30px;

                    i {
                        color: #fff;
                    }

                    >a:first-child {

                        i {
                            margin-right: 5px;
                        }

                        span {
                            font-size: 18px;
                        }
                    }

                    >a:last-child {}

                    &:hover {
                        background-color: var(--accent-80);
                    }
                }

                ul {
                    padding-left: 70px;

                    li {
                        padding: 12px 70px;

                        &:hover {
                            background-color: var(--accent-40);
                        }
                    }
                }
            }
        }
    }
}

.main {
    height: 100%;
}